<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Le Restaurant</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <a href="/"> <img src="~/Images/Uploads/restaurant.png" alt="Le Restaurant" width="110" style="padding-right:20px" /></a>
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    @if (ViewBag.Title == "Home Page")
                    {
                        <li class="active">@Html.ActionLink("Home", "Index", "Home")</li>
                    }
                    else
                    {
                        <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    }

                    @if (ViewBag.Title == "About Us")
                    {
                        <li class="active">@Html.ActionLink("About", "About", "Home")</li>
                    }
                    else
                    {
                        <li>@Html.ActionLink("About", "About", "Home")</li>
                    }

                    @if (ViewBag.Title == "Contact Us")
                    {
                        <li class="active">@Html.ActionLink("Contact", "Contact", "Home")</li>
                    }
                    else
                    {
                        <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                    }

                    @if (ViewBag.Title == "Book Table")
                    {
                        <li class="active">@Html.ActionLink("Book Table", "Book-Table", "BookTable")</li>
                    }
                    else
                    {
                        <li>@Html.ActionLink("Book Table", "Book-Table", "BookTable")</li>
                    }

                    @*Login / logout conditionals*@
                    @if (Request.IsAuthenticated)
                    {
                        <li>
                            <a href="/account/logout">Log out</a>
                        </li>
                    }
                    else
                    {
                        if (ViewBag.Title == "Login")
                        {
                            <li class="active">
                                <a href="/account/Login">Log in / register</a>
                            </li>
                        }
                        else
                        {
                            <li>
                                <a href="/account/Login">Log in / register</a>
                            </li>
                        }
                    }

                    @if (Request.IsAuthenticated && User.IsInRole("User"))
                    {
                        if (ViewBag.Title == "My details")
                        {
                            <li class="active">
                                @Html.Action("UserNavigationPartial", "Account", new { area = "" })
                            </li>
                        }
                        else
                        {
                            <li>
                                @Html.Action("UserNavigationPartial", "Account", new { area = "" })
                            </li>
                        }
                    }
                </ul>


                @if (Request.IsAuthenticated && User.IsInRole("Admin"))
                {
                    <ul class="navbar-collapse collapse navbar-right adminarea">
                        <li style="list-style-type:none;">
                            <a href="~/admin/dashboard">Admin</a>
                        </li>
                    </ul>
                }
                else
                {
                    if (ViewBag.Title != "Order Details")
                    {
                        <ul class="navbar-collapse collapse navbar-right">
                            @Html.Action("OrderPartial", "MealOrder")
                        </ul>

                    }
                }

            </div>
        </div>
    </div>
    <div class="container body-content">
        <div class="col-xs-12 col-md-2">

            @if (
                ViewBag.Title != "Create account" &&
                 ViewBag.Title != "Login" &&
                 ViewBag.Title != "My details"               
                )
            {
            <div class="col-xs-12 col-md-2">
                @Html.Action("CategoryMenuPartial", "Restaurant")
            </div>

            }
                       

        </div>
        <div class="col-xs-12 col-md-10">
            @RenderBody()
        </div>
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Le Restaurant</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
